{% extends "base.html" %}

{% block app_content %}
	<h1>Acknowledgements</h1>
	<ul>
		<li><a href="https://palletsprojects.com/p/flask/">Flask for powering the website</a></li>
		<li><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">This impressive tutorial created by Miguel Grinberg which helped me learn how to use Flask</a></li>
		<li><a href="https://wtforms.readthedocs.io/en/stable/">WTForms for helping me learn how to handle the backend input</a></li>
		<li><a href="https://getbootstrap.com/">Bootstrap for the layout</a></li>
		<li>Last, but not least, my mother, <b>Saranya Vummidi</b>, for giving me the encouragement to start and pursue this project.</li>
	</ul>	
{% endblock %}
