{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block app_content %}
	<h1>Add Post</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.title.label }} <br>
			{{ form.title(size=32) }}
			{% for error in form.title.errors %} <!--Title-->
			<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.text.label }} <br>
			{{ form.text(cols=32, rows=4) }}
			{% for error in form.text.errors %} <!--Body-->
			<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p> {{ form.post() }}</p>
	</form>
{% endblock %}